<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APPLICATION-ID" value="453f0e4bd91d417b8c68b6c468bf5560" />
    <add key="TENANT-ID" value="testchallenge" />
    <add key="API_REMOTE_URL" value="https://test-reqwest-application.herokuapp.com" />
    <add key="API_LOCAL_URL" value="https://localhost:5001" />
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>